g.react-flow__edge-textwrapper .react-flow__edge-textbg{
    opacity: 0.8;
}

.react-flow__edge-path {
    stroke: #222 !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInSmooth 0.8s ease forwards;
}

@keyframes fadeInSmooth {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
